nav{
  border-bottom: 1px solid gainsboro;
}

.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -3px 15px;
}

.bold-text{
  font-weight: bold;
}

.font-small{
  font-size: small;
}

.font-large{
  font-size: large;
}

.green-text{
  color: green;
}

.nav-start{
  display: flex;
  align-items: center;
}

.nav-end {
  display: flex;
  align-items: center;
}

.nav-start img{
  margin-right: 12px;
}

.nav-start p{
  padding-left: 9px;
}

.nav-end img{
  margin-left: 12px;
}

.view-plan-button{
  padding-right: 10px;
}

.main-section{
  width: 100%;
  display: flex;
  height: calc(100vh - 43px);
}

.w-30{
  display: inline-block;
  width: 17%;
  border-right: 1px solid gainsboro;
}

.main-sidebar{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upper-sidebar{
  display: inline-block;
  height: 60%;
  border-bottom: 1px solid gainsboro;
  padding: 7px 15px;
  margin-top: 5px;
}

.lower-sidebar-up{
  display: inline-block;
  padding: 7px 15px;
}

.private{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.private-left{
  display: flex;
  align-items: center;
}


.lower-sidebar-down{
  display: flex;
  align-items: center;
  padding: 7px 15px;
  border-top: 1px solid gainsboro;
}

.main-body{
  margin: 13px 30px;
  /* background-color: #F0F0F0; */
}

.upper-body{
  padding-bottom: 20px;
  border-bottom: 1px solid gainsboro;
}

.upper-body-up{
  display: flex;
  align-items: center;
}

.sidebar-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 55px;
}

.table-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 9px;
  width: 100%;
  margin-bottom: 3px;
}

.table-head p{
  font-size: smaller;
}

.table-head-left, .table-head-middle, .table-head-right{
  display: flex;
  align-items: center;
}

.table-head-left{
  padding-left: 12px;
  width: 50%;
}

.table-head-middle{
  width: 30%;
  justify-content: space-between;
  padding-right: 45px;
}

.table-head-right{
  width: 20%;
  padding-left: 35px;
}

.maintable-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid gainsboro; */
  border-radius: 10px;
  margin-bottom: 12px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.maintable-left, .maintable-middle, .maintable-right{
  display: flex;
  align-items: center;
}

.maintable-left{
  padding-left: 12px;
  width: 50%;
}

.maintable-middle{
  width: 30%;
  justify-content: space-between;
  padding-right: 22px;
  margin-left: 27px;
}

.maintable-right{
  width: 20%;
  justify-content: space-between;
  padding-right: 12px;
  padding-left: 35px;
}

.maintable-left-1{
  padding-right: 10px;
}

.maintable-left-2{
  line-height: 7px;
}

.linear-progress{
  border: 2px solid #e8e8e8;
  background-color: #e8e8e8;
  border-radius: 3px;
  width: 225px;
}